#include <windows.h>

// Specify minimum required Windows version (Windows 7 or later)
#ifndef WINVER
#define WINVER 0x0601       // Windows 7
#endif
#ifndef _WIN32_WINNT
#define _WIN32_WINNT 0x0601 // Windows 7
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,4,2
PRODUCTVERSION  0,4,2
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Eterninety"
            VALUE "FileDescription",  "System Information Collection Library for Windows"
            VALUE "FileVersion",      "0.4.2"
            VALUE "InternalName",     "systeminfo"
            VALUE "LegalCopyright",   "Copyright (c) 2025 Eterninety. All rights reserved."
            VALUE "OriginalFilename", "systeminfo.dll"
            VALUE "ProductName",      "System Information Collector"
            VALUE "ProductVersion",   "0.4.2"
            VALUE "Comments",         "Collects detailed system hardware information including CPU, GPU, Memory, Storage, and Peripherals"
            VALUE "MinimumSystemVersion", "Windows 7 (6.1) or later"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END 
